:root{
    background-color: rgb(56,41,48);
}
/* Тело */
body {
    margin: 0 auto;
}
main {
    background-color: rgba(255, 255, 255, .9);
    min-height: 350px;
    margin: 0 auto;
    width: 65%;
    display: block;
    margin-left: 50px;
    float: left;
}
/* конец редакции тела */
/* шапка */
header {
    background-color: #373737;
    color: #fff;
    height: 260px;
    padding-left: 275px;
    width: inherit;
    background-image: url(res/headerbroad.jpg);
    background-repeat:repeat-x;
}
/* стили поиска */
#searchform{
    position: absolute;
    margin-top: 220px;
    width: auto;
}
#searchable{
    width: 385px;
    border: none;
    padding: 8px 80px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    background: #EEE;
    font: 14px Tahoma, Arial, sans-serif;
    color: rgba(93, 93, 93, 0.92);
}
#searchable:focus{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
    border: none;
    outline: none;
}
#btnsearch{
    position: absolute;
    top: 3px;
    left: 305px;
    width: 80px;
    height: 30px ;
    border-radius: 15px;
    opacity: 0.5;
    margin-right: 100px;
}
#btnsearch:hover{
    opacity: 0.8;
}
.from_search{
    width: auto;
    border: none;
    padding: 8px 8px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    background: #EEE;
    font: 14px Tahoma, Arial, sans-serif;
    color: rgba(93, 93, 93, 0.92);
}
/* конец стилей поиска */

/* конец стилей шапки */

/* навигация */
#headerNav{
    background-color: #eee;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    height: 56px;
    width: 76%;
}
#leftNav {
    float: left;
    background-color: #eee;
    border: 1px solid #373737;
    margin-top: 50px;
    margin-left: 25px;
    height: 520px;
    width: 200px;
    background-image: url(res/schoolboard.png);
    display: block;
}
menu {
    padding: 0;
    position: relative;
}
/* всплывающая навигация + */
.list_menu{
    position: relative;
}
.drop_menu {
    position: absolute;
    width: 100%;
    left: 100%;
    opacity: 0;
    top: -9999em;
    transition: 0.5s opacity;
    background-image: url(res/schoolboard.png);
}
.list_menu:hover .drop_menu{
    opacity: 1;
    top: -8px;
}
.list_menu::after{
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color:  transparent transparent transparent #AFF6F8;
    top: 6em;
    right: 0.7em;
    transition: 0.5s;
    opacity: 0;
}
.list_menu:hover::after {
    opacity: 1;
}
/* всплывающая навигация - */
#leftNav menu li{
    float:none;
    margin-left:27px;
    font-size: 1px;
}
#leftNav menu a{
    display: block;
    font-size: 22px;
    color: azure;
    text-decoration: none;
    font-family: Batang;
    background-repeat: inherit;
    width: 144px;
    margin-top: 5px;
    transition: 0.3s all;
}
#leftNav menu a:hover {
    color: #9ae9ff;
    background: repeat-y;
}
/* конец навигации */
/* начало мейна */
article {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 98%;
    overflow: hidden;
    background-color: #dddddd;
}
aside{
    float: right;
    padding-left: 15px;
    width: 25%;
    display: block;
    overflow: hidden;
    position:relative;
}
/* секции рецепта */
.ingridients{
    float: left;
    margin-bottom: 30px;
    padding: 15px;
    width: 30%;
    overflow: hidden;
}
.cooking{
    float: left;
    margin-bottom: 10px;
    padding: 0 15px;
    width: 94%;
    overflow: hidden;
}
.block_img {
    float:right; /* Выравнивание по равому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    padding-right: 1px;
    width: 420px;
    height: 330px;
    overflow: hidden;
}
.big_img{

    height: 260px;
    overflow: hidden;
}
.div_bigimg{
    width: 400px;
    height: 260px;
    text-align: center;
	background-color: gray;
}
.small_img{
    margin-left: 10px;
    margin-top: 5px;
    width: 45px;
    height: 30px;
    transition: 0.2s all;
    min-width: 45px;
    min-height: 30px;
    overflow: hidden;
}
.small_img:hover{
    margin-left: 10px;
    width: 50px;
    height: 35px;
    border: 2px solid azure;
}
.btn_option{
    float: right;
    width: 22px;
    height: 22px;
    margin-left: 7px;
    margin-bottom: 5px;
}
.btn_ready_del{
    float: right;

    margin-right: 25px;
    margin-bottom: 35px;
}
.btn_ready_del button{
    width: 32px;
    height: 22px;
}
/* конец секции рецепта */
/* секция редактирования */
#edits{
    float:inherit;
    width: 65%;
    margin-bottom: 10px;
    padding-left: 280px;

}
#edits .btnAdd{
     float:inherit;
     width: 120px;
     height: 44px;
     margin-left: 90px;
     margin-top: 20px;
     margin-bottom: 10px;
 }
#edits textarea{
    float:inherit;
    margin-left: 40px;
    margin-bottom: 10px;
}
#edits select{
    float:inherit;
    margin-left: 40px;
    margin-bottom: 10px;
}
#edits .add_img{
    float: right;
    margin-right: 15px;
}
#edits h2{
    float:inherit;
    margin-left: 55px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.hides{
    position: absolute;
    opacity: 0;
    top: -9999em;
}
.error input,
.error textarea {
    border: 1px solid red;
}
.error {
    color: red;
}
/* конец секции редактирования */
/* футер */
footer {
    background-color: #373737;
    clear: both;
    color: #fff;
    padding: 50px 20px;
}
footer small a {
    color: #eff;
}
#sum_resipe{
    margin-left: 10px;
}
/* конец футера */
footer, nav, header, section, aside {
    display: block;
}
/* сделать беграунд цветом-картинкой время дня */